<div class="navigation">
    <a href="/funcionario">Funcionario</a>
    <a href="/loja" class="btn">Loja</a>
    <a href="/contato">Contato</a>
    <a href="/cadastro">Cadastro</a>
    <a href="/login">Login</a>
    <div class="menu-openner"><span>0</span>🛒</div>
</div>