{{#section 'styles'}}
<link rel="stylesheet" href="css/cadastroProdutos.css">
{{/section}}

{{!-- icones --}}

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{{!-- navegador interno da pagina --}}

<div class="container">

    <div class="navegador">

        <ul>
            <li>
                <a href="#">
                    <div class="toggle"> <!-- Corrigido de .toogle para .toggle -->
                        <span class="icon">
                            <ion-icon name="apps-outline"></ion-icon>
                        </span>
                    </div>
                    <span class="title">Menu</span>
                </a>
            </li>

            <li>
                <a href="/funcionario">
                    <span class="icon">
                        <ion-icon name="clipboard-outline"></ion-icon>
                    </span>
                    <span class="title">Estoque</span>
                </a>
            </li>

            <li>
                <a href="/cadastroProdutos">
                    <span class="icon">
                        <ion-icon name="add-outline"></ion-icon>
                    </span>
                    <span class="title">Cadastro produtos</span>
                </a>
            </li>

            <li>
                <a href="/pedidosFeitos">
                    <span class="icon">
                        <ion-icon name="bag-check-outline"></ion-icon>
                    </span>
                    <span class="title">Pedidos feitos</span>
                </a>
            </li>

            <li>
                <a href="/">
                    <span class="icon">
                        <ion-icon name="exit-outline"></ion-icon>
                    </span>
                    <span class="title">Sair</span>
                </a>
            </li>
        </ul>


    </div>

    {{!-- <div class="container_cadastro">

        <h1>Area de cadastramento do produto:</h1>

        <form id="form" action="cadastroProduto" method="post">

            <label for="titulo">Titulo:</label>
            <input type="text" name="titulo" required="">

            <label for="descricao">Descriçao:</label>
            <input type="text" name="descricao" required="">

            <label for="precoD">Preço - Capa dura:</label>
            <input type="text" name="preçoD" required="">

            <label for="precoC">Preço - Capa comum:</label>
            <input type="text" name="precoC" required="">

            <label for="precoE">Preço - Ebook:</label>
            <input type="text" name="precoE" required="">

            <label for="img">Adicione uma foto para apresentar o produto:</label>
            <button>Selecionar imagem</button>

        </form>

    </div> --}}




</div>